<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Logistics Company - Register</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/register.css}">

</head>
<body>
<!-- Navigation -->
<nav class="navbar static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/index}">
            <img alt="Logo" class="navbar-logo" th:src="@{/img/lc-logo-shadow-round.png}">Logistics Company</a>
        <div>
            <a class="btn btn-primary" href="/register">Register</a>
            <a class="btn btn-primary" href="/login">Login</a>
        </div>
    </div>
</nav>

<!-- Register -->
<section class="register-section text-white">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5 class-">
                <h2 class="text-center">Register</h2>
                <form action="/register" enctype="utf8" method="POST" th:object="${user}">
                    <div th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible">
                            Registration complete! <a href="/login">Sign in here!</a>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                        <ul th:if="${#fields.hasErrors('*')}">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputFirstname">First name</label>
                                <input class="form-control" id="inputFirstname" placeholder="Enter firstname"
                                       th:errorclass="is-invalid"
                                       th:field="*{firstname}" type="text">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputLastname">Last name</label>
                                <input class="form-control" id="inputLastname" placeholder="Enter lastname"
                                       th:errorclass="is-invalid"
                                       th:field="*{lastname}" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input class="form-control" id="inputUsername" placeholder="Enter username"
                               th:errorclass="is-invalid"
                               th:field="*{username}" type="text">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input class="form-control" id="inputEmail" placeholder="Enter email" th:errorclass="is-invalid"
                               th:field="*{email}" type="email">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input class="form-control" id="inputPassword" placeholder="Password"
                                       th:errorclass="is-invalid"
                                       th:field="*{password}" type="password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" placeholder="Password"
                                       th:errorclass="is-invalid" th:field="*{confirmPassword}" type="password">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <p class="container signin">Already have an account? <a href="/login">Sign in</a>.</p>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; Logistics Company 2020. All Rights Reserved. <br/><em>Martin
                    Paskov - NBU F97808</em></p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>